# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# VS Code
.vscode/
*.code-workspace

# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
ENV/
venv.bak/
*.env
*.venv
*.egg
*.egg-info/
dist/
build/
*.pyo
*.pyd
.Python
